{:kotoba.app/id "cloud.itonami.isic-8522", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidxtuzy2tie43fpsvfvavaca6v4qkctzvvyo2tkcppq4btwizeemm", :kotoba.app/embed-url "ipfs://bafkreidxtuzy2tie43fpsvfvavaca6v4qkctzvvyo2tkcppq4btwizeemm", :published {:archive "https://kotobase.net/ipfs/bafkreidxtuzy2tie43fpsvfvavaca6v4qkctzvvyo2tkcppq4btwizeemm", :size 73804, :put-status 201, :get-status 200, :at "2026-08-15T14:02:51.832Z"}}
